#loading-spinner-mobile {
	.loading-spin {
		background-color: var(--secondary-background-color);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 99;
	}
}
