@import './IdentifyInformation/IdentifyInformation.pcss';
@import './AddressInformation/AddressInformation.pcss';
@import './IdentifyPhotoUpload/IdentifyPhotoUpload.pcss';
@import './IdentifyVerification/IdentifyVerification.pcss';
@import './SelfiePhotoUpload/SelfiePhotoUpload.pcss';
@import './VerificationConfirm/VerificationConfirm.pcss';
