#deposit-screen {
	color: #fff;
	padding: 0 10%;
	position: relative;

	.deposit-container {
		background: #172b4c;

		&__address {
			background: #11223f;
			border-left: 3px solid var(--yellow);
		}
	}

	.deposit-history .td-pg-wallet table thead tr th {
		background: #11223f;
		padding-top: 5px;
	}
}
