#withdraw-screen {
	color: #fff;
	padding: 0 10%;
	position: relative;

	.withdraw-container {
		background: #172b4c;

		&__address {
			background-color: #11223f;
			border-left: 3px solid var(--yellow);
		}
	}

	.withdraw-history .td-pg-wallet table thead tr th {
		background: rgba(12, 26, 50, 0.5);
		padding-bottom: 5px;
		padding-top: 5px;
	}
}
