@import './Stake/styles.pcss';
@import './IEO/styles.pcss';
@import './Vote/styles.pcss';
@import './AirdropCoin/styles.pcss';
@import './Promotion/styles.pcss';
@import './Competition/styles.pcss';
@import './Transactions/styles.pcss';
@import './KYC/styles.pcss';
