@import './CompetitionItemRunning/CompetitionItemRunning.pcss';
@import './TableAwardsCompetition/TableAwardsCompetition.pcss';
@import './CompetitionItemNoneRunning/CompetitionItemNoneRunning.pcss';
