.pg-mobile-profile-change-password-screen {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 3rem var(--mobile-main-padding-size);
	width: 100%;
}
