#deposit-info {
	.deposit-info__container {
		&__header {
			background: rgba(12, 26, 50, 0.5);

			&__mode {
				background: transparent;
				border: none;
				font-size: 1.5rem;
				outline: none;
				padding: 15px;
			}

			&__mode--active {
				background: #172b4c;
				color: #ffff;
				font-weight: 600;
			}

			&__selection {
				padding: 15px;
			}
		}
	}

	.deposit-info-tip {
		background: #11223f;
		border-radius: 10px;
		font-size: 1.3rem;
		margin: 0 10px;
		padding: 20px 10px;
	}
}
